{% extends 'heritagesites/base.html' %}

{% block content %}

<h2>About UNESCO Heritage Sites</h2>

<p>This site combines UNSD M49 <a href="https://unstats.un.org/unsd/methodology/m49/"
                                  alt="UNSD M49 country codes">country codes</a>
  with UNESCO <a href="https://whc.unesco.org/en/list/"
                 alt="UNESCO Heritage Sites">Heritage Site</a> data.  UNESCO World Heritage
  <a href="https://whc.unesco.org/en/list/stat"
     alt="UNESCO World Heritage list statistics">list statistics</a> will be added at a later date.
</p>

{% endblock content %}