{% extends 'heritagesites/base.html' %}

{% block content %}

<h2>UNESCO Heritage Sites</h2>

<p>Lorem ipsum dolor sit amet, modo mundi ex nam, qui id voluptua deserunt, ut vero eripuit
  similique pro. Pri at natum integre elaboraret. Te sed unum movet, id ius equidem
  rationibus. Liber periculis ad sit. Eos in aperiri discere referrentur, eu fugit detracto
  gubergren eam.</p>

<p>Vel ignota docendi ne, at duo clita menandri, nec dicit euismod oporteat an. Vix saperet
  senserit et, eu eum porro ubique. Enim salutatus cum ut. Nostro fabellas mea ne. Movet
  eripuit erroribus an vim, in blandit voluptatum cum.</p>

<p>Qui at omittam appetere perfecto. His mazim euismod incorrupte ne. No facer viderer evertitur
  vix. Ei his sapientem pertinacia, detraxit periculis vim te, sea numquam facilis et. Eum
  appetere oporteat omittantur ei.</p>

{% endblock content %}