{% extends 'heritagesites/base.html' %}

{% block content %}

<article>
  <header>
    <h2>UNESCO Heritage Sites</h2>
  </header>

  {% include 'heritagesites/pagination.html' %}

  {% if sites %}
    <ul>
      {% for site in sites %}
      <!-- safe filter on for raw HTML stored in database -->
      <li><a href="{% url 'site_detail' site.pk %}">{{ site.site_name | safe }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No Heritage Sites are available to view.</p>
  {% endif %}

  <p>page count: {{ sites.count }}</p>
</article>

{% endblock content %}}