{% extends 'heritagesites/base.html' %}

{% block content %}

<article>
  <header>
    <div class="row">
      <div class="col-sm-11">
        <h2>UNESCO Heritage Sites</h2>
      </div>
      <div class="col-sm-1">
        {% if user.is_authenticated %}
        <a class="btn btn-outline-secondary" href="{% url 'site_new' %}">new</a>
        {% endif %}
      </div>
    </div>
  </header>

  {% include 'heritagesites/pagination.html' %}

  {% if sites %}
    <ul>
      {% for site in sites %}
      <!-- safe filter on for raw HTML stored in database -->
      <li><a href="{% url 'site_detail' site.pk %}">{{ site.site_name | safe }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No Heritage Sites are available to view.</p>
  {% endif %}

  <p>page count: {{ sites.count }}</p>
</article>

{% endblock content %}