{% extends 'heritagesites/base.html' %}

{% block content %}

  <header>
    <div class="row">
      <div class="col-sm-11">
        <h2>Logout</h2>
      </div>
      <div class="col-xs-1">
        <a class="btn btn-outline-secondary" href="{{request.META.HTTP_REFERER}}">back</a>
      </div>
    </div>
  </header>

  <h2>Login</h2>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
  <!-- <a href="{% url 'socialauth_disconnect' 'google-oauth2' %}">Login with Google</a><br> -->

{% endblock content %}